._.DS_Store
.DS_Store
._*
ArchiveStatusCheckPlugin/obj/
ArchiveVerifyPlugin/bin/Debug/PRISM.xml
ArchiveVerifyPlugin/obj/Debug/ArchiveVerifyPlugin.csproj.FileListAbsolute.txt
ArchiveVerifyPlugin/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ArchiveVerifyPlugin/obj/
CaptureTaskManager/CaptureTaskManager/bin/
CaptureTaskManager/CaptureTaskManager/obj/
CaptureTaskManager/CTM_Shared/bin/
CaptureTaskManager/CTM_Shared/obj/
CaptureToolPlugin/CaptureToolPlugin/obj/
DatasetArchivePlugin/DatasetArchivePlugin/bin/
*obj/Debug/*
SrcFileRenamePlugin/SrcFileRenamePlugin/obj/
ImsDemuxPlugin/ImsDemuxPlugin/obj/
DatasetQualityPlugin/DatasetQualityPlugin/obj/
DatasetIntegrityPlugin/DatasetIntegrityPlugin/obj/
DatasetInfoPlugin/DatasetInfoPlugin/obj/
DatasetArchivePlugin/DatasetArchivePlugin/obj/
Pacifica/Pacifica.Core/bin/
Pacifica/Pacifica.Core/obj/
Pacifica/Pacifica.DMS_Metadata/bin/
Pacifica/Pacifica.DMS_Metadata/obj/

DeployedFiles/*.dll
DeployedFiles/*/*.dll
DeployedFiles/*.pdb
DeployedFiles/*.exe
DeployedFiles/*.lnk

/DeployedFiles/ThermoFisher.CommonCore.BackgroundSubtraction.xml
/DeployedFiles/ThermoFisher.CommonCore.Data.xml
/DeployedFiles/ThermoFisher.CommonCore.MassPrecisionEstimator.xml
/DeployedFiles/ThermoFisher.CommonCore.RawFileReader.xml
/DeployedFiles/ThermoRawFileReader.dll.config
